<div class="main portfolio">
      <div class="jumbotron slideshow">
        <div class="slideshow-container">
          <div class="slide"> <%= image_tag('bass.png', alt: 'Slide 1')%> </div>
          <div class="slide"> <%= image_tag('innovation_cloud.png', alt: 'Slide 2')%> </div>
          <div class="slide"> <%= image_tag('bookmarks.png', alt: 'SLide 3')%> </div>
          <div class="slide"> <%= image_tag('sample_app.png', alt: 'Slide 4')%> </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <a class="col-md-6 project" href="#">
            <div class="thumbnail-header">
              <div class="thumbnail-header-btn"></div>
              <div class="thumbnail-header-btn"></div>
              <div class="thumbnail-header-btn"></div>
            </div>
            <div class="thumbnail"> <%= image_tag('innovation_cloud.png', alt: 'Inovation Cloud')%></div>
            <h3>The Innovation Cloud Conference</h3>
            <p>Connect with the best minds across a wide range of industries to share ideas and brainstorm new solutions to challenging problems.</p>
          </a>
          <a class="col-md-6 project" href="#">
            <div class="thumbnail-header">
              <div class="thumbnail-header-btn"></div>
              <div class="thumbnail-header-btn"></div>
              <div class="thumbnail-header-btn"></div>
            </div>
            <div class="thumbnail"> <%= image_tag('bass.png', alt: 'Bass')%> </div>
            <h3>Bass for the music lovers</h3>
            <p>Bass is an app with simple and clean design listing your favourite performer albums. Inside the albums you can find list of all the tracks...</p>
          </a>
        </div>
        <div class="row">
          <a class="col-md-6 project" href="#">
            <div class="thumbnail-header">
              <div class="thumbnail-header-btn"></div>
              <div class="thumbnail-header-btn"></div>
              <div class="thumbnail-header-btn"></div>
            </div>
            <div class="thumbnail"> <%= image_tag('bookmarks.png', alt: 'Bookmarks')%> </div>
            <h3>Bookmarks</h3>
            <p>A list of best selling books with reviews and comments.</p>
          </a>
          <a class="col-md-6 project" href="#">
            <div class="thumbnail-header">
              <div class="thumbnail-header-btn"></div>
              <div class="thumbnail-header-btn"></div>
              <div class="thumbnail-header-btn"></div>
            </div>
            <div class="thumbnail"> <%= image_tag('sample_app.png', alt: 'Sample App')%> </div>
            <h3>Sample Tweeter Like App</h3>
            <p>Small tweeter like micropost application. Developed with proffesional grade authentication engine. Created following Michael Hartl's online tutroial.</p>
          </a>
        </div>
      </div>
    </div>
